html {
    scroll-padding-top: 66px;
  }

  .navbar {
    padding: 20px 0px;
    transition: all 0.3s ease-in-out;
    background-color: #365a94;
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #7081b9;
    padding-right: 26px;
  }

  .nav-item {
    color: #7081b9;
    padding-right: 26px;
    font-size: 16px;
  }

  .nav-link-a{
    color: #ffffff;
    text-decoration: none;
  }

  .nav-link-a:hover{
    color: #2dbbc5;
  }

  .active{
    color: #0e1461;
  }

  .nav-sticky {
    padding: 12px 0px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(191, 197, 213, 0.07);
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  .btn-a{
    color: white;
    text-decoration: none;
  }

  .btn-a:hover{
    color: #102774;
  }

  .btn-green{
    color: white;
    background-color: #1a7c83;
    border-radius: 5px;
    margin-left: 20px;
  }

  .btn-hover:hover{
    color: #102774;
  }


  .rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
  }
  .rating-area:not(:checked) > input {
    display: none;
  }
  .rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }
  .rating-area:not(:checked) > label:before {
    content: '★';
  }
  .rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
  }
  .rating-area:not(:checked) > label:hover,
  .rating-area:not(:checked) > label:hover ~ label {
    color: gold;
  }
  .rating-area > input:checked + label:hover,
  .rating-area > input:checked + label:hover ~ label,
  .rating-area > input:checked ~ label:hover,
  .rating-area > input:checked ~ label:hover ~ label,
  .rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
  }
  .rate-area > label:active {
    position: relative;
  }

  .rating-result {
    margin: 0 auto;
  }
  .rating-result span {
    padding: 0;
    font-size: 27px;
    margin: 0 3px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }
  .rating-result > span:before {
    content: '★';
  }
  .rating-result > span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
  }



  .dl-horizontal dt {
      float: left;
      width: 110px;
      text-align: left;
  }

  .dl-horizontal dd {
      margin-left: 120px;
  }

  .house dt {
    width: 300px;
  }

  .house dd {
      margin-left: 210px;
  }

  .person_list_div {
    display: table;
    width: auto;
    background-color: dark;
    border: 1px solid #666666;
    border-spacing: 5px; 
    margin: auto;
  }
  
  .person_list_row {
    display: table-row;
    width: auto;
    text-decoration: none;
    transition: all 0.1s ease;
  }
  
  a.person_list_row:active,
  a.person_list_row:visited {
    text-decoration: none;
    color: #000000;
  }
  
  a.person_list_row:hover {
    background-color: #4f6891;
    color: dark;
  }
  
  .person_list_number,
  .person_list_name {
    display: table-cell;
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 350px;
    background-color: dark;
    color: rgb(0, 0, 0);
  }
  


  .footer {
    color: rgba(255, 255, 255, 0.4);
    padding: 80px 0px 30px;
    background-color: #365a94;
  }

  .footer-alt {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding: 20px 0px;
    color: rgba(255, 255, 255, 0.4);
    background-color: #365a94;
  }

  .footer p, h6{
    color: white;
  }

  .white{
    color: white;
  }

  .white a{
    color: white;
    text-decoration: none;
  }

  .white a:hover{
    color: #000000;
  }

  .footer a{
    color: #ffffff;
    text-decoration: none;
  }

  .footer a:hover{
    color: #000000;
  }


  .black{
    background-color: #000000;
  }

  .Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .Site-content {
    flex: 1;
  }