html {
    scroll-padding-top: 66px;
  }

  .navbar {
    padding: 20px 0px;
    transition: all 0.3s ease-in-out;
    background-color: #365a94;
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #7081b9;
    padding-right: 26px;
  }

  .nav-item {
    color: #7081b9;
    padding-right: 26px;
    font-size: 16px;
  }

  .nav-link-a{
    color: #ffffff;
    text-decoration: none;
  }

  .nav-link-a:hover{
    color: #2dbbc5;
  }

  .active{
    color: #0e1461;
  }

  .nav-sticky {
    padding: 12px 0px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(191, 197, 213, 0.07);
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  .btn-a{
    color: white;
    text-decoration: none;
  }

  .btn-a:hover{
    color: #102774;
  }

  .btn-green{
    color: white;
    background-color: #1a7c83;
    border-radius: 5px;
    margin-left: 20px;
  }

  .btn-hover:hover{
    color: #102774;
  }


  .rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
  }
  .rating-area:not(:checked) > input {
    display: none;
  }
  .rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
  }
  .rating-area:not(:checked) > label:before {
    content: '★';
  }
  .rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
  }
  .rating-area:not(:checked) > label:hover,
  .rating-area:not(:checked) > label:hover ~ label {
    color: gold;
  }
  .rating-area > input:checked + label:hover,
  .rating-area > input:checked + label:hover ~ label,
  .rating-area > input:checked ~ label:hover,
  .rating-area > input:checked ~ label:hover ~ label,
  .rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
  }
  .rate-area > label:active {
    position: relative;
  }



  .dl-horizontal dt {
      float: left;
      width: 110px;
      text-align: left;
  }

  .dl-horizontal dd {
      margin-left: 120px;
  }

  .house dt {
    width: 300px;
  }

  .house dd {
      margin-left: 210px;
  }


  .footer {
    color: rgba(255, 255, 255, 0.4);
    padding: 80px 0px 30px;
    background-color: #365a94;
  }

  .footer-alt {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding: 20px 0px;
    color: rgba(255, 255, 255, 0.4);
    background-color: #365a94;
  }

  .footer p, h6{
    color: white;
  }

  .white{
    color: white;
  }

  .white a{
    color: white;
    text-decoration: none;
  }

  .white a:hover{
    color: #000000;
  }

  .footer a{
    color: #ffffff;
    text-decoration: none;
  }

  .footer a:hover{
    color: #000000;
  }


  .black{
    background-color: #000000;
  }

